.body{}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 95vh;
}
a{
    display: block;
    text-decoration: none;
    color: darkblue;
    font: 1.5em sans-serif;
    border: solid darkblue 3px;
    text-align: center;
    height: 100px;
    padding-top: 5%;
    
}
a:hover{
    background-color: skyblue;
}
@media (max-width: 1200px){
    a{
        flex-direction: column;
    }
}